EMEP/EMEP_input_v2019/
!EMEP/EMEP_input_v2019/README.txt
!EMEP/EMEP_input_v2019/NAEI_raw_labeled/README.txt
WPS/geo_grid_data/
!WPS/geo_grid_data/README.txt
WRF/run_template/
!WRF/run_template/README.txt
